.crud {
    height: 100vh;
    display: flex;
    margin-bottom: 900px;
    margin-left: 400px;
}

table td {
    width: 200px;
    height: 30px;
    background-color:#44708a;
    text-align: center;
    color: white;
}

table td button {
    padding: 5px;
    border-radius: 5%;
    cursor: pointer;
}

table td button.edit {
    border: 2px solid #448a5f;
    background-color: #bac965;
    color: white;
}

table td button.edit:hover {
    background-color: darkgreen;
}

table td button.delete {
    border: 2px solid #ff8365;
    background-color: #ffb678;
    color: white;
}

table td button.delete:hover {
    background-color: darkred;
}