.addlist {
    margin-bottom: 30px;
}

.addlist input {
    width: 230px;
    height: 30px;
}

.addlist button {
    width: 140px;
    color: white;
    background-color: green;
}

.addlist button:hover {
    background-color: darkgreen;
}