
body {
  height: 125vh;
  background-image: url('https://wallpapercave.com/wp/wp6973299.jpg');
  background-size: cover;
}
nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: black;
  font-family: fantasy;
  margin: 10px;
  display: inline-block;
  font-size: 20px;
  padding: 8px;
  border-radius: 10px;
  background-color: lemonchiffon;
  border: 2px solid #4CAF50;
  text-decoration: none;
}
nav h1 {
  color: black ;
  font-weight: 100;
  font-size: 70px;
}
.comp {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  color: #75955c;
  font-family: fantasy;
}


/* Plant grid */
.Plants-grid {
  border: 5px solid #4CAF50;
  border-radius: 20px;
  background-color: lemonchiffon;
  padding: 10px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.Plants-card {
  color: black;
  width: 100%;
  padding: 10px;
  background: #BAC965;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}
.Plant-card .Sunlight {
  position: absolute;
  top: -10px;
  right: -10px;
  background: wheat;
  color: #fff;
  border-radius: 6px;
  width: 40px;
  height: 0;
  padding: 20px 0;
  line-height: 0px;
  text-align: center;
}
.Plants-card .edit {
  padding: 10px;

}

/* Create new plant */
.create {
  border: 5px solid #44708A;
  border-radius: 20px;
  background-color: #f7fbe1;
  color: #44708A;
  padding: 20px;
  margin-top: 40px;
}

.create input {
  margin: 10px;
}