
body {
  height: 125vh;
  background-image: url('https://wallpapercave.com/wp/wp6973299.jpg');
  background-size: cover;
}
nav {
  background: var(--primary);
  padding: 10px 20px;
  text-align: center;
}
nav a {
  color: #597a55;
  margin: 10px;
  display: inline-block;
}
nav h1 {
  color: #fff;
}
.comp {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}
.comp {
  color:orange;
}

/* Plant grid */
.Plants-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.Plants-card {
  width: 100%;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}
.Plant-card .Sunlight {
  position: absolute;
  top: -10px;
  right: -10px;
  background: wheat;
  color: #fff;
  border-radius: 6px;
  width: 40px;
  height: 0;
  padding: 20px 0;
  line-height: 0px;
  text-align: center;
}
.Plants-card .edit {
 
  padding: 10px;

}